.MDEditor {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: silver;
  display: flex;
  flex-direction: column;
  cursor: default;


  >.toolbar {
    flex: 0 0 auto;
  }

  .SPane {
    height: 100%;
    overflow: hidden;

    &.left {
      background: white;
      display: flex;
      flex-direction: column;

      >main {
        flex: 1 1 auto;

        >.monacoEditor {
          height: 100%;
        }
      }
    }

    &.right {
      background: white;
      color: black;
      overflow: auto;
      position: relative;
    }
  }
}

.myGlyphMarginClass {
  background-color: red;
}

.Decoration-highlight {
  background: cyan;
  width: 5px !important;
  margin-left: 3px;
}

.markdown-body {
  padding: 1em;

  .selected {
    outline: 2px solid cyan;
    background-color: rgba($color: cyan, $alpha: .1);
  }

  .error {
    background-color: rgba($color: yellow, $alpha: 1);
  }

  .custom {
    margin: 1em 0;
  }

  .code.custom {
    svg {
      line-height: 1.15;
    }
  }

  img {
    pointer-events: none;
  }
}