.MDEditor {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: silver;
  display: flex;
  flex-direction: column;
  cursor: default;

  &.hideEditor {
    .SPane.right {
      position: fixed;
      z-index: 1000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }


  >.toolbar {
    flex: 0 0 auto;
  }

  .SplitPane {
    >.Pane {
      min-width: 0;
    }
  }

  .SPane {
    height: 100%;
    overflow: hidden;

    &.left {
      background: white;
      display: flex;
      flex-direction: column;

      >main {
        flex: 1 1 auto;

        >.monacoEditor {
          height: 100%;
        }
      }
    }

    &.right {
      background: white;
      color: black;
      overflow: auto;
      position: relative;
      overflow-x: hidden;
    }
  }
}

.myGlyphMarginClass {
  background-color: red;
}

.Decoration-highlight {
  background: cyan;
  width: 5px !important;
  margin-left: 3px;
}

.markdown-body {
  padding: 1em;
  min-width: min-content;

  >* {
    max-width: 100%;
    min-width: 0;
  }

  table {
    width: auto;
  }

  .selected {
    outline: 2px solid cyan;
    background-color: rgba($color: cyan, $alpha: .1);
  }

  .error {
    background-color: rgba($color: yellow, $alpha: 1);
  }

  .custom {
    margin: 1em 0;
  }

  .code.custom {
    svg {
      line-height: 1.15;
      max-width: 100%;
      height: auto !important;
    }
  }

  img {
    pointer-events: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.contexify {
  svg {
    margin: .4em;
    position: relative;
    top: -1px;
  }
}