@media print {

    .markdown-body {
        border: 12px solid transparent !important;
        z-index: 1000;
        position: static;
        top: 0;
        left: 0;
        height: auto;
        overflow: visible;

        .selected {
            outline: none !important;
            background: none !important;
        }
    }

    .help {
        display: none !important;
    }

    .contexify {
        display: none !important;
    }


    #root,
    .MDEditor,
    .SplitPane,
    .Pane,
    .SPane {
        height: auto !important;
        position: static !important;
    }

    .Pane1 {
        display: none !important;
    }


}